---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
---

<Layout>
	<Header />
  <div class="min-h-screen bg-zinc-50 flex items-center justify-center px-4">
    <h1 class="text-6xl font-bold text-zinc-900 mb-4">
      経理業務を、シンプルに。
    </h1>
		<p class="text-xl text-zinc-600">
			沖縄の中小企業の成長を支える。
		</p>
  </div>
</Layout>